canvas {
  background-image: "images/escenario.png";
  border: 5px solid black;
}
.boton {
  background: white;
  padding: 20px;
  font-size: 16 px;
}
#overlay {
  background-image: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  line-height: 30vh;
  text-align: center;
  font-size: 5em;
}

#tarjeta {
  width: 50%;
  height: 60%;
  top: 100px;
  left: 250px;
  position: fixed;
  color: black;
  text-align: justify;
  font-size: 2em;
  border: 1px solid black;
  background: white;
  display: none;
  border-radius: 30px;
}
#pregunta {
  text-align: center;
  font-size: 30px;
  background-color: #3dcf26;
  color: black;
}

#question {
  text-align: center;
  font-size: 24px;
}

#opciones {
  font-size: 30px;
  margin-left: 20px;
}
.answer {
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
}

.enviar {
  background: black;
  color: white;
  padding: 20px;
  margin: 20px 200px;
  font-size: 14px;
  border-radius: 30px;
}

#correcta {
  width: 40%;
  height: 40%;
  top: 100px;
  left: 250px;
  position: fixed;
  color: #29a407;
  text-align: justify;
  font-size: 2em;
  border: 1px solid black;
  background: white;
  display: none;
  border-radius: 30px;
}

#incorrecta {
  width: 40%;
  height: 40%;
  top: 100px;
  left: 250px;
  position: fixed;
  color: red;
  text-align: justify;
  font-size: 2em;
  border: 1px solid black;
  background: white;
  display: none;
  border-radius: 30px;
}

#caida {
  width: 40%;
  height: 40%;
  top: 150px;
  left: 250px;
  position: fixed;
  color: red;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  background: white;
  display: none;
  border-radius: 30px;
}
